@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Noto Sans SC', 'PingFang SC', 'Microsoft YaHei', sans-serif;
}
